<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Hakkımda</a></li>
      <li><a href="{{ site.baseurl }}/">Yazılar</a></li>
      <li><a href="{{ '/archive' | prepend: site.baseurl }}/">Arşiv</a></li>
      <li><a href="https://mmuratarat.github.io/presentations/" target="_blank">Sunumlar</a></li>
      <li><a href="https://mmuratarat.github.io/" target="_blank">English</a></li>
    </ul>
  </div>
</nav>
