---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Ocak
  {% when '2' %}Şubat
  {% when '3' %}Mart
  {% when '4' %}Nisan
  {% when '5' %}Mayıs
  {% when '6' %}Haziran
  {% when '7' %}Temmuz
  {% when '8' %}Ağustos
  {% when '9' %}Eylül
  {% when '10' %}Ekim
  {% when '11' %}Kasım
  {% when '12' %}Aralık
{% endcase %}
{{ page.date | date: "%Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
